<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Managment System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/MenuItems.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoolCoursach</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListUsers">Список учащихся</a>
                        </li>*@
                             @if(User.IsInRole("admin")|| User.IsInRole("moder")){
                        <li class="nav-item">
                           @*<a class = "nav-link text-dark" @Html.ActionLink("Список учащихся(moder)","ModerPage","Moder", new{@class= "nav-link text-dark"}) *@
                           <a class = "nav-link text-dark", href="/Moder/ModerPage">Панель модератора</a>
                        </li>
                             }
                               @if(User.IsInRole("admin")){
                          <li class="nav-item">
                           @*<a class = "nav-link text-dark" @Html.ActionLink("Панель администратора", "AdminPage", "Admin")></a>*@
                           <a class = "nav-link text-dark", href="/Admin/AdminPage">Панель администратора</a>
                        </li>
                             }
                             <li class="nav-item">
                                 <a class = "nav-link text-dark", href="/Reports/AllReports">Отчеты</a>
                             </li>
                             <li class="nav-item">
                           <a class = "nav-link text-dark", href="/Account/Logout">Выйти</a>
                           @*@Html.ActionLink("Выйти", "Logout", "Account")*@
                        </li>
                      @*  <li class="nav-item">
                            @User.Identity.Name
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Managment System by Nikita Tarakanov @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
        <div class="icons">
            <a href="https://github.com/nerodro/CoolCoursach"><img src="~/img/git.png" style="width:28px;height:28px;/></a>
            <a href="https://vk.com/data22116323052013"><img src="~/img/vk.png" style="width:30px;height:30px;margin:5px"/></a>
            <a href="https://www.linkedin.com/in/никита-тараканов-926294207/">
                <img src="~/img/lk.png" style="width:40px;height:40px;"/>
                </a>
            <a href="https://www.reddit.com/user/Immediate_Impress575"><img src="~/img/reddit.png" style="width:30px;height:30px;"/></a>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
