@*@{
    ViewData["Title"] = "Home Page";
}*@

@model CoolCoursach.Models.UserListViewModel

<div class="text-center">
    <h3 class="display-4">Добро пожаловать на сайт для студентов и преподавателей</h3>
             @*@Html.ActionLink("Выйти", "Logout", "Account")*@

</div>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn"> Поиск</button>
    <div id="my Dropdown" class="dropdown-content">
        <form method="get">
        <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        <input name="Email" class="form-control" />
        <label class="control-label">Фамилия: </label>
        <input name="Surname" class="form-control" />
        <label class="control-label">Отчество: </label>
        <input name="Patronymic" class="form-control" />
        <label class="control-label">Паспортные данные: </label>
        <input name="Passport" class="form-control" />
 
        @*<label class="control-label">Группа: </label>
        <select name="group" asp-items="Model.Groups" class="form-control"></select>
        <label class="control-label">Специальность: </label>
        <select name="facult" asp-items="Model.Facults" class="form-control"></select>*@
               
        <input type="submit" value="Найти" class="btn btn-default" />
        </div>
        </form>
  </div>
</div>
<p></p>
<table>
    <tr>
        <td>Фото</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Отчество</td>
        <td>Группа</td>
        <td>Специальность</td>
        <td>Статус</td>
        <td>Паспортные данные</td>
        @*<td>Профиль</td>*@
    </tr>
    @foreach(var User in Model.Users){
    <tr>
              <td>
            @if(User.Photo != null)
            {
                <img style="width:80px;height:60px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(User.Photo))"/>
            }
            </td>
        <td>@User.Email</td>
        <td>@User.Surname</td>
        <td>@User.Patronymic</td>
        <td>@User.GroupName</td>
        <td>@User.FacultName</td>
        <td>@User.StatusName</td>
        <td>@User.Passport</td>
       @* <td>@Html.ActionLink("Профиль", "PersonalCabinet", "Home", new{Id = User.Id})</td>*@
    </tr>
    }
</table>