@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User
<legend style="text-align:center;">Информация о студенте</legend>
        <div class="row">
            <div class="col-sm-1.5">
       <div class="card mb-3">
           <div class="card-footer">
               @if(Model.Photo != null)
            {
            <img style="width:250px;height:400px;border:2px solid #D3D3D3" class="imgs" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))"/>
            }
            else
            {  
             <img style="width:250px;height:400px;border:2px solid #D3D3D3" class="imgs" src="/img/blank-profile-picture-973460__340.jpg">
            }
            <p>
            <b>Дата рождения:</b> <br />
            @Html.DisplayFor(model => model.BirthDay)
        </p>
        <p>
            <b>Статус:</b> <br />
            @Html.DisplayFor(model => model.StatusName, ViewBag.Statuss as SelectList)
        </p>
               </div>
               </div>
               </div>
               <div class="col-sm-4">
       <div class="card mb-3">
           <div class="card-footer">
               <p><h4>Личные данные</h4></p>
                  <p>
            <b>Имя студента:</b> <br />
            @Html.DisplayFor(model => model.Email)
        </p>
          <p>
            <b>Фамилия:</b> <br />
            @Html.DisplayFor(model => model.Surname)
        </p>
         <p>
            <b>Отчество студента:</b> <br />
            @Html.DisplayFor(model => model.Patronymic)
        </p>
            <p>
            <b>Паспортные данные: </b><br />
            @Html.DisplayFor(model => model.Passport)
        </p>
        <p>
            <b>Адрес проживания: </b><br />
            @Html.DisplayFor(model => model.Adress)
        </p>
        <p>
            <b>Номер телефона:</b> <br />
            @Html.DisplayFor(model => model.PhoneNumber)
        </p>
               </div>
               </div>
               </div>
               <div class="col-sm-4">
       <div class="card mb-3">
           <div class="card-footer">
               <p><h4>Данные об учебе</h4></p>
                 <p>
            <b>Группа:</b> <br />
            @Html.DisplayFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            <b>Специальность:</b> <br />
            @Html.DisplayFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
            <p>
           <b> Дата поступления:</b> <br />
            @Html.DisplayFor(model => model.StartDate)
        </p>
         <p>
            <b>Дата отчисления:</b> <br />
            @Html.DisplayFor(model => model.EndDate)
        </p>
               </div>
               </div>
               </div>
               <div class="col-sm-3">
       <div class="card mb-3">
           <div class="card-footer">
               <p><h4>Данные матери</h4></p>
                 <p>
           <b> Имя матери:</b> <br />
            @Html.DisplayFor(model => model.MotherName)
        </p>
          <p>
            <b>Фамилия матери:</b> <br />
            @Html.DisplayFor(model => model.MotherSurname)
        </p>

          <p>
            <b>Номер телефона матери:</b> <br />
            @Html.DisplayFor(model => model.MotherPhone)
        </p>
          <p>
            <b>Место работы матери:</b> <br />
            @Html.DisplayFor(model => model.MotherWork)
        </p>
          <p>
            <b>Должность матери:</b> <br />
            @Html.DisplayFor(model => model.MotherPosition)
        </p>
               </div>
               </div>
               </div>
               <div class="col-sm-4">
       <div class="card mb-3">
           <div class="card-footer">
               <p><h4>Данные отца</h4></p>
                 <p>
         <b>Имя отца:</b> <br />
            @Html.DisplayFor(model => model.FatherName)
        </p>
          <p>
           <b> Фамилия отца:</b> <br />
            @Html.DisplayFor(model => model.FatherSurname)
        </p>
         <p>
            <b>Номер телефона отца:</b> <br />
            @Html.DisplayFor(model => model.FatherPhone)
        </p>
         <p>
            <b>Место работы отца:</b> <br />
            @Html.DisplayFor(model => model.FatherrWork)
        </p>
         <p>
            <b>Должность отца:</b> <br />
            @Html.DisplayFor(model => model.FatherPosition)
        </p>
         <p>
               </div>
               </div>
               </div>
                              <div class="col-sm-4">
       <div class="card mb-3">
           <div class="card-footer">
               <p><h4>Данные законного представителя</h4></p>
                 <p>
         <p>
            <b>Имя законного представителя:</b> <br />
            @Html.DisplayFor(model => model.ReletedName)
        </p>
        <p>
            <b>Фамилия законного представителя:</b> <br />
            @Html.DisplayFor(model => model.ReletedSurname)
        </p>
        <p>
            <b>Номер телефона законного представителя:</b> <br />
            @Html.DisplayFor(model => model.ReletedPhone)
        </p>
              <p>
            <b>Место работы законного представителя:</b> <br />
            @Html.DisplayFor(model => model.ReleatedWork)
        </p>
              <p>
            <b>Должность законного представителя:</b> <br />
            @Html.DisplayFor(model => model.ReleatedPosition)
        </p>
               </div>
               </div>
               </div>
            </div>
<div class="row">
<a class="btn btn-primary btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Home", action="Index"})">На главную</a>
<p>

</p>
</div>
    