@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User
<div class=containers style="margin:auto">
        <legend style="text-align:center;">Удалить пользователя</legend>
    <div class=Photos>
           <div class="imgs">
            @if(Model.Photo != null)
            {
            <img style="width:600px;height:600px;" class="imgs" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))"/>
            }
            else
            {  
             <img style="width:600px;height:600px;" class="imgs" src="/img/blank-profile-picture-973460__340.jpg">
            }
            </div>
        </div>
        <br /> <br />
      <div class=Inform>
        <p>
            Имя студента: <br />
            @Html.DisplayFor(model => model.Email)
        </p>
          <p>
            Фамилия студента: <br />
            @Html.DisplayFor(model => model.Surname)
        </p>
         <p>
            Отчество студента: <br />
            @Html.DisplayFor(model => model.Patronymic)
        </p>
            <p>
            Группа: <br />
            @Html.DisplayFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            Специальность: <br />
            @Html.DisplayFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
        <p>
            Статус: <br />
            @Html.DisplayFor(model => model.StatusName, ViewBag.Statuss as SelectList)
        </p> 
          <p>
            Паспортные данные: <br />
            @Html.DisplayFor(model => model.Passport)
        </p>
        <p>
            Адрес проживания: <br />
            @Html.DisplayFor(model => model.Adress)
        </p>
        <p>
            Номер телефона: <br />
            @Html.DisplayFor(model => model.PhoneNumber)
        </p>
                        </div>
                   </div>
                <div class="containers">
        <div class=Inform>
          <p>
            Имя матери: <br />
            @Html.DisplayFor(model => model.MotherName)
        </p>
          <p>
            Фамилия матери: <br />
            @Html.DisplayFor(model => model.MotherSurname)
        </p>

          <p>
            Номер телефона матери: <br />
            @Html.DisplayFor(model => model.MotherPhone)
        </p>
          <p>
            Место работы матери: <br />
            @Html.DisplayFor(model => model.MotherWork)
        </p>
        </div>
        <div class=Inform>
          <p>
            Должность матери: <br />
            @Html.DisplayFor(model => model.MotherPosition)
        </p>
          <p>
            Имя отца: <br />
            @Html.DisplayFor(model => model.FatherName)
        </p>
          <p>
            Фамилия отца: <br />
            @Html.DisplayFor(model => model.FatherSurname)
        </p>
         <p>
            Номер телефона отца: <br />
            @Html.DisplayFor(model => model.FatherPhone)
        </p>
                </div>
        <div class=Inform>
         <p>
            Место работы отца: <br />
            @Html.DisplayFor(model => model.FatherrWork)
        </p>
         <p>
            Должность отца: <br />
            @Html.DisplayFor(model => model.FatherPosition)
        </p>
         <p>
            Имя законного представителя: <br />
            @Html.DisplayFor(model => model.ReletedName)
        </p>
        <p>
            Фамилия законного представителя: <br />
            @Html.DisplayFor(model => model.ReletedSurname)
        </p>
                </div>
        <div class=Inform>
        <p>
            Номер телефона законного представителя: <br />
            @Html.DisplayFor(model => model.ReletedPhone)
        </p>
              <p>
            Место работы законного представителя: <br />
            @Html.DisplayFor(model => model.ReleatedWork)
        </p>
              <p>
            Должность законного представителя: <br />
            @Html.DisplayFor(model => model.ReleatedPosition)
        </p>
         <p>
            Дата рождения: <br />
            @Html.DisplayFor(model => model.BirthDay)
        </p>
                </div>
        <div class=Inform>
         <p>
            Дата поступления: <br />
            @Html.DisplayFor(model => model.StartDate)
        </p>
         <p>
            Дата отчисления: <br />
            @Html.DisplayFor(model => model.EndDate)
        </p>
        </div>
         @using (Html.BeginForm())
        {
        <p>
            <input type="submit" value="Удалить пользователя" class="btn btn1"/>
        </p>
        
        }
        <div class="Inform">
        <a class="btn btn1" href="/Admin/PersonsList">Назад</a>
        </div>
        </div>

