@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User

<form asp-action="EditPerson" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <fieldset>
          <legend style="text-align:center;">Редактировать человека</legend>
        <div class=containers>
            <div class = "Inform">
      

        <p>
            Имя пользователя <br />
            @Html.EditorFor(model => model.Email, new{htmlAttributes = new{@class="form-control", @pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
          <p>
            Фамилия студента <br />
            @Html.EditorFor(model => model.Surname, new{htmlAttributes = new{@class="form-control", @pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
         <p>
            Отчество студента <br />
            @Html.EditorFor(model => model.Patronymic, new{htmlAttributes = new{@class="form-control", @pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
             <p>
            Паспортные данные <br />
            @Html.EditorFor(model => model.Passport, new{htmlAttributes = new{@class="form-control"}})
        </p>
        <p>
            Адрес проживания <br />
            @Html.EditorFor(model => model.Adress, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>
           <p>
            Номер телефона <br />
            @Html.EditorFor(model => model.PhoneNumber, new{htmlAttributes = new{@class="form-control"}})
        </p>
        <p>
            Пароль <br />
            @Html.EditorFor(model => model.Password, new{htmlAttributes = new{@class="form-control", @type="password",@pattern="[А-ЯA-Z]+[А-Яа-яЁё0-9.A-Za-z!#$%]{6,}"}})
        </p>
                 <p>
            Имя матери <br />
            @Html.EditorFor(model => model.MotherName, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
         <p>
            Фамилия матери <br />
            @Html.EditorFor(model => model.MotherSurname, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
            <p>
            Номер телефона матери <br />
            @Html.EditorFor(model => model.MotherPhone, new{htmlAttributes = new{@class="form-control",@pattern="8{1}[0-9]{10}"}})
        </p>
                </div>
        <div class = "Inform">
        <p>
            Место работы матери <br />
            @Html.EditorFor(model => model.MotherWork, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>

        <p>
            Должность матери матери <br />
            @Html.EditorFor(model => model.MotherPosition, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>
         <p>
            Имя отца <br />
            @Html.EditorFor(model => model.FatherName, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
         <p>
            Фамилия отца <br />
            @Html.EditorFor(model => model.FatherSurname, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
             <p>
            Номер телефона отца <br />
            @Html.EditorFor(model => model.FatherPhone, new{htmlAttributes = new{@class="form-control",@pattern="8{1}[0-9]{10}"}})
        </p>
        <p>
            Место работы отца <br />
            @Html.EditorFor(model => model.FatherrWork, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>
        <p>
            Должность отца <br />
            @Html.EditorFor(model => model.FatherPosition, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>
            <p>
            Имя законного представителя <br />
            @Html.EditorFor(model => model.ReletedName, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
         <p>
            Фамилия законного представителя <br />
            @Html.EditorFor(model => model.ReletedSurname, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё]{2,26}"}})
        </p>
            <p>
            Номер телефона законного представителя <br />
            @Html.EditorFor(model => model.ReletedPhone, new{htmlAttributes = new{@class="form-control",@pattern="8{1}[0-9]{10}"}})
        </p>
                     </div>
        <div class = "Inform">
        <p>
            Место работы законного представителя <br />
            @Html.EditorFor(model => model.ReleatedWork, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>

        <p>
            Должность законного представителя <br />
            @Html.EditorFor(model => model.ReleatedPosition, new{htmlAttributes = new{@class="form-control",@pattern="[А-Яа-яЁё0-9\\s.]"}})
        </p>
         <p>
            Дата рождения: <br />
            @Html.EditorFor(model => model.BirthDay, new{htmlAttributes = new{@class="form-control",@pattern="[0-9/0-9/0-9]{10}"}})
        </p>
         <p>
            Дата поступления: <br />
            @Html.EditorFor(model => model.StartDate, new{htmlAttributes = new{@class="form-control",@pattern="[0-9/0-9/0-9]{10}"}})
        </p>
         <p>
            Дата поступления/отчисления: <br />
            @Html.EditorFor(model => model.EndDate, new{htmlAttributes = new{@class="form-control",@pattern="[0-9/0-9/0-9]{10}"}})
        </p>
        <p>
            Роль <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        </p>
            <p>
            Группа <br />
            @Html.DropDownListFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
                 <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
         <p>
            Статус студента <br />
            @Html.DropDownListFor(model => model.StatusName, ViewBag.Status as SelectList)
        </p>
         <label>Фото</label>
         <input name="Photo" type="file"class="form-control"/>
         </div>
         </div>
         <div class=containers_btns>
            <div class = "Inform">
        <p>
            <input type="submit" value="Сохранить" class="btn btn1"/>
        </p>
        </div>
        <div class="Inform">
        <a class="btn btn1" href="/Admin/PersonsList">Назад</a>
        </div>
        </div>
        </fieldset>
        </form>