@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User
    <fieldset>
        <legend>Новый студент</legend>
        <form asp-action="AddStudent" asp-controller="Moder" method="post" enctype="multipart/form-data">
            <p>
                <label>Имя</label>
                <input name="Email" class="input1"/>
                </p>
            <p>
                <label>Фамилия</label>
                <input name="Surname" class="input1"/>
            </p>
             <p>
                <label>Отчество</label>
                <input name="Patronymic" class="input1"/>
            </p>
             <p>
                <label>Фото</label>
                <input name="Photo" type="file"class="input1"/>
            </p>
             <p>
                <label>Пароль</label>
                <input name="Password" class="input1"/>
            </p>
              <p>
                <label>Паспортные данные</label>
                <input name="Passport" class="input1"/>
            </p>
                  @*  <p>
            Email пользователя <br />
            @Html.EditorFor(model => model.Email)
        </p>
          <p>
            Фамилия студента <br />
            @Html.EditorFor(model => model.Surname)
        </p>
         <p>
            Отчество студента <br />
            @Html.EditorFor(model => model.Patronymic)
        </p>
        <p>
            Пароль <br />
            @Html.EditorFor(model => model.Password)
        </p>*@
       @* <p>
            Роль <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        </p>*@
            <p>
            Группа <br />
            @Html.DropDownListFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
        </p>
             <p>
            Статус студента <br />
            @Html.DropDownListFor(model => model.StatusName, ViewBag.Status as SelectList)
        </p>
        <p>
            <input type="submit" value="Добавить нового пользователя" class="btn btn1"/>
        </p>
        </form>
        </fieldset>