@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User
         <form asp-action="EditStudent" asp-controller="Moder" method="post" enctype="multipart/form-data">
<div class=containers>
        <legend style="text-align:center;">Редактировать студента</legend>
        <div class=Inform>
        <p>
            Имя пользователя <br />
           @Html.EditorFor(model => model.Email)
        </p>
          <p>
            Фамилия студента <br />
            @Html.EditorFor(model => model.Surname)
        </p>
         <p>
            Отчество студента <br />
            @Html.EditorFor(model => model.Patronymic)
        </p>
        <p>
            Пароль <br />
            @Html.EditorFor(model => model.Password)
        </p>
         <p>
            Паспортные данные <br />
            @Html.EditorFor(model => model.Passport)
        </p>
         <p>
            Имя матери <br />
            @Html.EditorFor(model => model.MotherName)
        </p>
         <p>
            Фамилия матери <br />
            @Html.EditorFor(model => model.MotherSurname)
        </p>
         <p>
            Имя отца <br />
            @Html.EditorFor(model => model.FatherName)
        </p>
         <p>
            Фамилия отца <br />
            @Html.EditorFor(model => model.FatherSurname)
        </p>
        </div>
        <div class=Inform2>
        <p>
            Дата рождения: <br />
            @Html.EditorFor(model => model.BirthDay)
        </p>
         <p>
            Дата поступления: <br />
            @Html.EditorFor(model => model.StartDate)
        </p>
         <p>
            Дата поступления/отчисления: <br />
            @Html.EditorFor(model => model.EndDate)
        </p>
        @*<p>
            Роль <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        </p>*@
            <p>
            Группа <br />
            @Html.DropDownListFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
         <p>
            Статус студента <br />
            @Html.DropDownListFor(model => model.StatusName, ViewBag.Status as SelectList)
        </p>
         <p>
                <label>Фото</label>
                <input name="Photo" type="file"class="input1"/>
            </p>
        </div>
        </div>
        <p>
            <input type="submit" value="Сохранить" class="btn btn1"/>
        </p>
        </form>