@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoolCoursach.Models.User

 @using (Html.BeginForm())
        {
    <fieldset>
        <legend>Редактировать студента</legend>

        <p>
            Имя пользователя <br />
            @Html.EditorFor(model => model.Email)
        </p>
          <p>
            Фамилия студента <br />
            @Html.EditorFor(model => model.Surname)
        </p>
         <p>
            Отчество студента <br />
            @Html.EditorFor(model => model.Patronymic)
        </p>
        <p>
            Пароль <br />
            @Html.EditorFor(model => model.Password)
        </p>
         <p>
            Паспортные данные <br />
            @Html.EditorFor(model => model.Passport)
        </p>
        <p>
            Роль <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        </p>
            <p>
            Группа <br />
            @Html.DropDownListFor(model => model.GroupName, ViewBag.Groups as SelectList)
        </p>
             <p>
            Специальность <br />
            @Html.DropDownListFor(model => model.FacultName, ViewBag.Facults as SelectList)
        </p>
         <p>
            Статус студента <br />
            @Html.DropDownListFor(model => model.StatusName, ViewBag.Status as SelectList)
        </p>
        <p>
            <input type="submit" value="Сохранить" class="btn btn1"/>
        </p>
        </fieldset>
        }