
@model IEnumerable<CoolCoursach.Models.User>
<h4 class="display-4">Список всех учащихся</h4>
        @Html.ActionLink("Добавить студента", "AddStudent", "Moder")
<table>
    <tr>
        <td>Фото</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Отчество</td>
        <td>Группа</td>
        <td>Специальность</td>
        <td>Статуст студента</td>
        <td>Паспортные данные</td>
    </tr>
    @foreach(var User in Model){
    <tr>
              <td>
            @if(User.Photo != null)
            {
                <img style="width:80px;height:60px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(User.Photo))"/>
            }
            </td>
        <td>@User.Email</td>
         <td>@User.Surname</td>
        <td>@User.Patronymic</td>
        <td>@User.GroupName</td>
        <td>@User.FacultName</td>
        <td>@User.StatusName</td>
        <td>@User.Passport</td>
    <td>@Html.ActionLink("Редактировать пользователя","EditStudent","Moder", new{Id = User.Id})</td>
    <td>@Html.ActionLink("Удалить пользователя","DeleteStudent","Moder", new{Id = User.Id})</td>
        </tr>
    }
</table>