
@model IEnumerable<CoolCoursach.Models.User>
<h4 class="display-4">Список всех учащихся</h4>
<div class="row">
        <a class="btn btn-primary btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Moder", 
        action="AddStudent"})">Добавить студента </a>
        </div>
<div class="row">
@foreach(var User in Model){

        <div class="col-sm-4">
       <div class="card mb-3">
            <div class="card-header">
                <div class="text-center">
                Ф.И.О : @User.Surname, @User.Email, @User.Patronymic
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
            @if(User.Photo != null)
            {
                <img style="width:311px;height:311px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(User.Photo))"/>
            }
            else
            {
                <img style="width:311px;height:311px;" src="/img/blank-profile-picture-973460__340.jpg"/>
            }
            </h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Moder", 
                action="EditStudent", Id = User.Id})">Редактировать студента </a>
                <a class="btn btn-danger btn-sm" style="border:0px" href="@Url.RouteUrl("Default", new{controller = "Moder", 
                action="DeleteStudent", Id = User.Id})">Удалить студента </a>
            </div>
        </div>
        </div>
}
</div>