
@model IEnumerable<CoolCoursach.Models.User>
<h4 class="display-4">Список всех учащихся</h4>
<div class="row">
        <div class="btn btn-primary" style="border:0px">@Html.ActionLink("Добавить студента", "AddStudent", "Moder",new{},
        new{@style="color:white;text-decoration: none;"})</div>
        </div>
@*<table>
    <tr>
        <td>Фото</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Отчество</td>
        <td>Группа</td>
        <td>Специальность</td>
        <td>Статуст студента</td>
        <td>Паспортные данные</td>
    </tr>
    @foreach(var User in Model){
    <tr>
              <td>
            @if(User.Photo != null)
            {
                <img style="width:80px;height:60px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(User.Photo))"/>
            }
            </td>
        <td>@User.Email</td>
         <td>@User.Surname</td>
        <td>@User.Patronymic</td>
        <td>@User.GroupName</td>
        <td>@User.FacultName</td>
        <td>@User.StatusName</td>
        <td>@User.Passport</td>
    <td>@Html.ActionLink("Редактировать пользователя","EditStudent","Moder", new{Id = User.Id})</td>
    <td>@Html.ActionLink("Удалить пользователя","DeleteStudent","Moder", new{Id = User.Id})</td>
        </tr>
    }
</table>*@
<div class="row">
@foreach(var User in Model){

        <div class="col-sm-4">
       <div class="card mb-3">
            <div class="card-header">
                <div class="text-center">
                Ф.И.О : @User.Surname, @User.Email, @User.Patronymic
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
            @if(User.Photo != null)
            {
                <img style="width:311px;height:311px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(User.Photo))"/>
            }
            else
            {
                <img style="width:311px;height:311px;" src="/img/blank-profile-picture-973460__340.jpg"/>
            }
            </h5>
            </div>
            <div class="card-footer">
                <div class="btn btn-primary btn-sm" style="border:0px" type="button">@Html.ActionLink("Редактировать студента","EditStudent","Moder",
                new{Id = User.Id}, new{@style="color:white;text-decoration: none;"})</div>
                <div class="btn btn-danger" style="border:0px" type="button">@Html.ActionLink("Удалить студента","DeleteStudent","Moder",
                new{Id = User.Id}, new{@style="color:white;text-decoration: none;"})</div>
            </div>
        </div>
        </div>
}
</div>